<h1>商品詳細</h1>
<%= image_tag @item.image, size: "50x50" %>

<p>商品名</p>
<%= @item.name %>

<p>商品説明</p>
<%= @item.introduction %>

<p>ジャンル</p>
<%= @item.genre_id %>

<p>税抜価格</p>
<%= @item.price %>

<p>販売ステータス</p>
<%= @item.is_active %>

<%= link_to "編集", edit_admin_item_path(@item.id) %>