<%= image_tag @item.image, size: "300x200" %>

<h2><%= @item.name %></h2>

<p><%= @item.introduction %></p>

<h2>¥<%= @item.with_tax_price %>（税込価格）</h2>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.select :amount, *[1..12] %>
  <%= f.hidden_field :item_id,:value => @item.id %>
  <%= f.submit "カートに入れる" %>
<% end %>